name: release
on:
  push:
    tag:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-a[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-b[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-rc[0-9]+"
  
env:
  PACKAGE_NAME: "OpenCtrl"
  OWNER: "shoham-roy31"

jobs:
  # test:
  #   uses: ./.github/workflows/test-workflow.yaml
  # lint:
  #   needs: test
  #   uses: shoham-roy31/OpenCtrl/.github/workflows/lint-workflow.yaml
  details:
    runs-on: ubuntu-latest
    # needs: [test]
    outputs:
      new_version: ${{ steps.release.outputs.new_version }}
      suffix: ${{ steps.release.outputs.suffix }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    steps:
      - name: Chek Ref type
        if: github.ref_type != 'tag'
        run: |
          echo "Passed tag is $github.ref_type"
          echo "This is not a tag; exiting"; exit 1

      - name: Extract tag and detail
        id: release
        run: |
          TAG_NAME=${GITHUB_REF#refs/tags/}
          NEW_VERSION=$(echo $TAG_NAME | awk -F'-' '{print $1}')
          SUFFIX=$(echo $TAG_NAME | grep -oP '[a-z]+[0-9]+' || echo "stable")
          echo "new_version=$NEW_VERSION" >> "$GITHUB_OUTPUT"
          echo "suffix=$SUFFIX" >> "$GITHUB_OUTPUT"
          echo "tag_name=$TAG_NAME" >> "$GITHUB_OUTPUT"
          echo "New Version $NEW_VERSION with Suffix $SUFFIX from Tag $TAG_NAME"
      
      - name: Debug outputs
        if: env.RUNNER_DEBUG == 'true'
        run: |
          echo "Version is $NEW_VERSION"
          echo "Suffix is $SUFFIX"
          echo "Tag name is $TAG_NAME"
  check_pypi_docker:
    needs: details
    runs-on: ubuntu-latest
    outputs:
      should_build: ${{ steps.docker.outputs.should_build }}
    steps:
      - name: Fetch information from check_pypi
        run: |
          response=$(curl -s https://pypi.org/pypi/${{ env.PACKAGE_NAME }}/json || echo "{}")
          latest_previous_version=$(echo $response | grep -oP '"releases":\{"\K[^"]+' | sort -rV | head -n 1)
          if [ -z "$latest_previous_version" ]; then
            echo "Package not found on PyPI."
            latest_previous_version="0.0.0"
          fi
          echo "latest_previous_version=$latest_previous_version" >> $GITHUB_ENV

      - name : Compare versions and exit if not newer
        run: |
          set -euo pipefail
          NEW_VERSION=${{ needs.details.outputs.new_version }}
          LATEST_VERSION=${ latest_previous_version }
          if [ "$(printf '%s\n' "$LATEST_VERSION" "$NEW_VERSION" | sort -V | head -n 1)" != "$NEW_VERSION"] || [ "$LATEST_VERSION" == "$NEW_VERSION" ]; then
            echo "The new version $NEW_VERSION is not greater than the latest version $LATEST_VERSION on PyPI"
            exit 1
          else
            echo "The new version $NEW_VERSION is greater than the latest version $LATEST_VERSION on PyPI"
          fi

      - name: Get versions in docker tags
        run: |
          NEW_VERSION=${{ needs.details.outputs.new_version }}
          latest_docker_version=$(curl -s https://hub.docker.com/v2/repositories/${{ env.OWNER }}/${{ env.PACKAGE_NAME }}/tags/?page_size=100 | grep -oP '"name":"\K[^"]+' | sort -rV | head -n 1 || echo "")
          if [ -z "$latest_docker_version" ]; then
            latest_docker_version="0.0.0"
          fi
          echo "latest_docker_version=$latest_docker_version" >> $GITHUB_ENV
      - name: Compare docker versions and exit if not newer
        id: docker
        run: |
          NEW_VERSION=${{ needs.details.outputs.new_version }}
          LATEST_DOCKER_VERSION=${ latest_docker_version }
          if [ "$(printf '%s\n' "$LATEST_DOCKER_VERSION" "$NEW_VERSION" | sort -V | head -n 1)" != "$NEW_VERSION"] || [ "$LATEST_DOCKER_VERSION" == "$NEW_VERSION" ]; then
            echo "The new version $NEW_VERSION is not greater than the latest Docker tag version $LATEST_DOCKER_VERSION"
            echo "should_build=false" >> "$GITHUB_OUTPUT"
          else
            echo "The new version $NEW_VERSION is greater than the latest Docker tag version $LATEST_DOCKER_VERSION"
            SHOULD_BUILD=true
            echo "should_build=$SHOULD_BUILD" >> "$GITHUB_OUTPUT"
          fi
  build_and_publish:
    needs: [check_pypi_docker]
    uses: ./.github/workflows/build-workflow.yaml
    with:
      should_build: ${{ needs.check_pypi_docker.outputs.should_build }}
    secrets:
      docker_username: ${{ vars.DOCKER_USERNAME }}
      docker_password: ${{ secrets.DOCKER_PASSWORD }}